// Fallback v1.4
// Dustin Dowell 2014
// https://github.com/dustindowell22/Fallback


// Calculate

@function px($value){
	@return $value + px;
}

@function rem($value){
	$remValue: ($value / 16);
	@return $remValue + rem;
}


// Rem

@mixin rem($property: "", $values: "", $important: ""){

	$propertyDash: unquote("");
	@if ($property != "position"){
		$propertyDash: unquote($property + "-");
	}

	$importantSpace: unquote("");
	@if ($important == "important"){
		$importantSpace: unquote(" !important");
	}


	// If 1 value is being passed

	@if (length($values) == 1){

		$value: $values;

		@if ($value != x){

			@if ($value == type-of(string)) or ($value == 0){
				#{$property}: $value + $importantSpace;
			}

			@else{
				#{$property}: px($value)  + $importantSpace;
				#{$property}: rem($value) + $importantSpace;
			}

		}
	}


	// If 2 values are being passed

	@if length($values) == 2{

		@for $index from 1 through 2{
			$value: nth($values, $index);

			@if $value != x{

				@if $value == type-of(string) or $value == 0{

					@if $index == 1{
						#{$propertyDash}top:    $value + $importantSpace;
						#{$propertyDash}bottom: $value + $importantSpace;
					}

					@else if $index == 2{
						#{$propertyDash}left:  $value + $importantSpace;
						#{$propertyDash}right: $value + $importantSpace;
					}

				}

				@else{

					@if $index == 1{
						#{$propertyDash}top:    px($value)  + $importantSpace;
						#{$propertyDash}top:    rem($value) + $importantSpace;
						#{$propertyDash}bottom: px($value)  + $importantSpace;
						#{$propertyDash}bottom: rem($value) + $importantSpace;
					}

					@else if $index == 2{
						#{$propertyDash}left:  px($value)  + $importantSpace;
						#{$propertyDash}left:  rem($value) + $importantSpace;
						#{$propertyDash}right: px($value)  + $importantSpace;
						#{$propertyDash}right: rem($value) + $importantSpace;
					}

				}
			}
		}
	}


	// If 4 values are being passed

	@if (length($values) == 4){

		@for $index from 1 through 4{
			$value: nth($values, $index);

			@if ($value != x){

				@if ($value == type-of(string)) or ($value == 0){

					@if ($index == 1){
						#{$propertyDash}top: $value + $importantSpace;
					}

					@else if ($index == 2){
						#{$propertyDash}right: $value + $importantSpace;
					}

					@else if ($index == 3){
						#{$propertyDash}bottom: $value + $importantSpace;
					}

					@else if ($index == 4){
						#{$propertyDash}left: $value + $importantSpace;
					}

				}

				@else{

					@if ($index == 1){
						#{$propertyDash}top: px($value)  + $importantSpace;
						#{$propertyDash}top: rem($value) + $importantSpace;
					}

					@else if ($index == 2){
						#{$propertyDash}right: px($value)  + $importantSpace;
						#{$propertyDash}right: rem($value) + $importantSpace;
					}

					@else if ($index == 3){
						#{$propertyDash}bottom: px($value)  + $importantSpace;
						#{$propertyDash}bottom: rem($value) + $importantSpace;
					}

					@else if ($index == 4){
						#{$propertyDash}left: px($value)  + $importantSpace;
						#{$propertyDash}left: rem($value) + $importantSpace;
					}

				}
			}
		}
	}
}